@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        object-fit: cover  
  .card
    width: 230px
    height: 230px     
  .packages
    &-card
      width: 300px
      max-height: 450px  
    &-card:first-child
      width: auto   
  .footer
    &__input
      flex-basis: 100%     
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    max-width: 132px  
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px      
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px 
  .search
    &__input
      width: 340px  
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px        
  .map
    width: 340px    
  .reviews
    &-slider
      &__item
        max-width: 580px  
  .activities
    &-wrapper
      flex-wrap: wrap  
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .packages
    &__title
      margin-bottom: 50px
    &-wrapper
      max-width: 700px
      grid-template-rows: 1fr 1fr
      grid-template-columns: 1fr 1fr
      grid-row-gap: 10px
      grid-column-gap: 10px
    &-card
      width: 350px
      max-height: 500px  
    &-card:first-child
      width: 350px
      grid-column-start: 1
      grid-column-end: 2
      grid-template-rows: 50% 50%
      grid-template-columns: 100% 
    &-card:last-child
      display: none       
    &__text
      display: none  
    &__stars
      display: none   
  .footer
    &-wrapper
      grid-template-columns: repeat (6, 1fr)
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-items: center
    &__categories
      grid-row: 2 / 3 
      grid-column: span 2
    &__additional
      grid-column: span 2 
    &__legal
      grid-column: span 2   
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4    
        grid-column: span 5  
    &__input
      flex-basis: 48%         
@media (max-width: 768px)
  .container, .packages-wrapper
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center      
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &_visible
        display: block
    &-menu
      flex-direction: column 
      &__item
        margin-bottom: 20px 
        &_mobile
          &_visible
            display: block
  .user
    &__name
      &_light
        color: $light 
        margin-left: 0
        margin-top: 10px         
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0 
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100% 
  .newsletter
    &-wrapper
      flex-direction: column  
      align-items: flex-start
      max-width: 576px
      width: 92%
  .reviews
    padding-bottom: 20px   
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px 
  .packages  
    &-card
      width: 285px
      max-height: 430px
    &-card:first-child
      width: 285px
  .footer
    &__input
      flex-basis: 100%   
    &-bottom
      justify-content: space-between
      &__links
        margin-right: 0 
@media (max-width: 640px)
  .container,
  .newsletter-wrapper,
  .packages-wrapper,
  .footer-wrapper
    max-width: 440px
  .reviews
    padding-bottom: 10px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 30px   
        &--prev
          left: 50%
          margin-left: -65px     
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px 
          transform: translate(50%, 0)
  .card
    width: 100% 
  .packages 
    &-card
      width: 215px
      max-height: 350px
      grid-template-rows: 60% 40%
    &-card:first-child
      width: 215px 
      grid-template-rows: 60% 40%
    &-info
      padding: 20px 20px 
    &__name
      font-size: 20px
      line-height: 25px
    &-set
      display: none    
    &-price
      &__old
        font-size: 12px
        line-height: 14px 
      &__new   
        font-size: 14px
        line-height: 16px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        align-items: flex-start
        flex-direction: column        
        grid-row: 2
        grid-column: 1   
      &-links
        margin-top: 20px  
    &__legal
      grid-row: 3
      grid-column: 1  
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1   
    &__under
      flex-direction: column-reverse
      align-items: flex-start
    &__info
      margin-bottom: 15px
    &-bottom
      flex-direction: column
      margin-top: 30px
      &__links
        width: 100%
        margin-bottom: 10px
      &__link
        &:not(:last-child)
        &::after
          content: ' '
          margin-right: 6px      
           
@media (max-width: 480px)
  .container,
  .newsletter-wrapper,
  .packages-wrapper
    max-width: 280px
  .logo
    width: 99px
  .hotel
    padding-bottom: 30px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px 
  .subscribe
    width: 100%  
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    padding-top: 40px  
  .packages 
    padding-top: 30px
    &__title
      font-size: 20px
      line-height: 25px
    &-card
      width: 280px
    &-card:first-child
      width: 280px 
    &-wrapper
      grid-template-rows: 1fr 1fr 1fr 1fr
      grid-template-columns: 1fr
  .footer
    &__message
      width: 100%
    &-bottom
      &__links
        font-size: 10px
        line-height: 14px      
     
  
            
